
__pycache__

Documentation/MAGIC_doc.toc

Documentation/MAGIC_doc.synctex.gz

Documentation/MAGIC_doc.out

Documentation/MAGIC_doc.log

Documentation/MAGIC_doc.aux

OutputFiles/*

PickledFiles/*

EnergyData/RawData/*
